In [23]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [68]:
rds_host='mybike.c0jxuz6r8olg.us-west-2.rds.amazonaws.com'
name='hibike'
pwd='zx123456'
db_name='bike'
port=3306

conn = mysql.connector.connect(host=rds_host,user=name, password=pwd, database=db_name)

df = pd.read_sql("select * from weather", con=conn)
df1 = pd.read_sql("select * from station_1", con=conn)
df.shape

(244, 6)

In [69]:
df1.tail(10)

,last_update,status,bike_stands,available_bike_stands,available_bikes
678,2018-04-18 10:03:51,OPEN,31,7,24
679,2018-04-18 10:08:12,OPEN,31,6,25
680,2018-04-18 10:15:45,OPEN,31,5,26
681,2018-04-18 10:25:54,OPEN,31,5,26
682,2018-04-18 10:36:17,OPEN,31,5,26
683,2018-04-18 10:36:40,OPEN,31,5,26
684,2018-04-18 10:39:52,OPEN,31,5,26
685,2018-04-18 10:42:02,OPEN,31,4,27
686,2018-04-18 10:45:42,OPEN,31,5,26
687,2018-04-18 10:58:01,OPEN,31,4,27

In [71]:
df['month'] = df['last_update'].dt.month
df['day'] = df['last_update'].dt.day
df['weekday'] = df['last_update'].dt.weekday_name
df['hour'] = df['last_update'].dt.hour
df['minute'] = df['last_update'].dt.minute

df1['month'] = df1['last_update'].dt.month
df1['day'] = df1['last_update'].dt.day
df1['weekday'] = df1['last_update'].dt.weekday_name
df1['hour'] = df1['last_update'].dt.hour
df1['minute'] = df1['last_update'].dt.minute

In [72]:
df1.minute = (df1.minute > 30) *30

In [73]:
df2 = pd.merge(df, df1, left_on=['minute', 'hour', 'weekday', 'month', 'day'], right_on=['minute', 'hour', 'weekday', 'month', 'day'])
df2

,last_update_x,weather_main,humidity,temp,visibility,wind,month,day,weekday,hour,minute,last_update_y,status,bike_stands,available_bike_stands,available_bikes
0,2018-04-13 01:00:00,Drizzle,93,280.15,6000.0,4.1,4,13,Friday,1,0,2018-04-13 01:12:47,OPEN,31,30,1
1,2018-04-13 01:00:00,Drizzle,93,280.15,6000.0,4.1,4,13,Friday,1,0,2018-04-13 01:22:56,OPEN,31,30,1
2,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:33:06,OPEN,31,30,1
3,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:43:15,OPEN,31,30,1
4,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:53:24,OPEN,31,30,1
5,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:03:33,OPEN,31,30,1
6,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:13:43,OPEN,31,30,1
7,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:23:52,OPEN,31,30,1
8,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:34:21,OPEN,31,30,1
9,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:44:31,OPEN,31,30,1
10,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:54:40,OPEN,31,30,1
11,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:04:49,OPEN,31,30,1
12,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:14:58,OPEN,31,30,1
13,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:25:07,OPEN,31,30,1
14,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:35:17,OPEN,31,30,1
15,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:45:26,OPEN,31,30,1
16,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:55:35,OPEN,31,30,1
17,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:05:44,OPEN,31,30,1
18,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:15:53,OPEN,31,30,1
19,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:26:02,OPEN,31,30,1
20,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:00:44,OPEN,31,30,1
21,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:10:52,OPEN,31,30,1
22,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:12:39,OPEN,31,29,2
23,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:22:48,OPEN,31,28,3
24,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:32:56,OPEN,31,28,3
25,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:37:18,OPEN,31,27,4
26,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:47:26,OPEN,31,27,4
27,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:54:13,OPEN,31,26,5
28,2018-04-13 06:00:00,Drizzle,100,279.77,5000.0,3.6,4,13,Friday,6,0,2018-04-13 06:04:22,OPEN,31,26,5
29,2018-04-13 06:00:00,Drizzle,100,279.77,5000.0,3.6,4,13,Friday,6,0,2018-04-13 06:14:30,OPEN,31,26,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,2018-04-18 08:00:00,Clouds,82,285.52,10000.0,8.2,4,18,Wednesday,8,0,2018-04-18 08:12:06,OPEN,31,23,8
602,2018-04-18 08:00:00,Clouds,82,285.52,10000.0,8.2,4,18,Wednesday,8,0,2018-04-18 08:18:52,OPEN,31,22,9
603,2018-04-18 08:00:00,Clouds,82,285.52,10000.0,8.2,4,18,Wednesday,8,0,2018-04-18 08:27:57,OPEN,31,21,10
604,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:33:29,OPEN,31,22,9
605,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:37:25,OPEN,31,22,9
606,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:38:41,OPEN,31,21,10
607,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:41:04,OPEN,31,20,11
608,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:42:54,OPEN,31,22,9
609,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:46:39,OPEN,31,21,10
610,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:50:34,OPEN,31,22,9
611,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:51:21,OPEN,31,20,11
612,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:56:00,OPEN,31,19,12
613,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:59:07,OPEN,31,20,11
614,2018-04-18 08:30:00,Clouds,82,286.15,10000.0,8.2,4,18,Wednesday,8,30,2018-04-18 08:59:51,OPEN,31,20,11
615,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:04:16,OPEN,31,19,12
616,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:08:06,OPEN,31,17,14
617,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:11:35,OPEN,31,18,13
618,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:24:36,OPEN,31,16,15
619,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:25:25,OPEN,31,15,16
620,2018-04-18 09:00:00,Clouds,71,286.53,10000.0,8.2,4,18,Wednesday,9,0,2018-04-18 09:27:14,OPEN,31,14,17
621,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:33:29,OPEN,31,13,18
622,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:43:38,OPEN,31,13,18
623,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:44:28,OPEN,31,11,20
624,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:52:40,OPEN,31,10,21
625,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:56:35,OPEN,31,9,22
626,2018-04-18 09:30:00,Clouds,71,286.64,10000.0,6.7,4,18,Wednesday,9,30,2018-04-18 09:58:46,OPEN,31,8,23
627,2018-04-18 10:00:00,Clouds,76,287.15,10000.0,5.7,4,18,Wednesday,10,0,2018-04-18 10:03:51,OPEN,31,7,24
628,2018-04-18 10:00:00,Clouds,76,287.15,10000.0,5.7,4,18,Wednesday,10,0,2018-04-18 10:08:12,OPEN,31,6,25
629,2018-04-18 10:00:00,Clouds,76,287.15,10000.0,5.7,4,18,Wednesday,10,0,2018-04-18 10:15:45,OPEN,31,5,26
630,2018-04-18 10:00:00,Clouds,76,287.15,10000.0,5.7,4,18,Wednesday,10,0,2018-04-18 10:25:54,OPEN,31,5,26

In [74]:
df2 = df2.drop(['last_update_x'] , axis=1)

In [143]:
df2['minute'] = df2['last_update_y'].dt.minute + df2['last_update_y'].dt.hour * 60
df2['minute']
pre_minute = df2['minute'][:-1].tolist()
pre_minute.insert(0, df2['minute'][0])
df2['pre_minute'] = pre_minute
continuous_columns.append('pre_minute')
df2

,weather_main,humidity,temp,visibility,wind,month,day,weekday,hour,minute,last_update_y,status,bike_stands,available_bike_stands,available_bikes,pre_available_bikes,pre_minute
0,Drizzle,93.0,280.15,6000.0,4.1,4,13,Friday,1,72,2018-04-13 01:12:47,OPEN,31,30,1,1,72
1,Drizzle,93.0,280.15,6000.0,4.1,4,13,Friday,1,82,2018-04-13 01:22:56,OPEN,31,30,1,1,72
2,Drizzle,93.0,280.15,7000.0,3.1,4,13,Friday,1,93,2018-04-13 01:33:06,OPEN,31,30,1,1,82
3,Drizzle,93.0,280.15,7000.0,3.1,4,13,Friday,1,103,2018-04-13 01:43:15,OPEN,31,30,1,1,93
4,Drizzle,93.0,280.15,7000.0,3.1,4,13,Friday,1,113,2018-04-13 01:53:24,OPEN,31,30,1,1,103
5,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,123,2018-04-13 02:03:33,OPEN,31,30,1,1,113
6,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,133,2018-04-13 02:13:43,OPEN,31,30,1,1,123
7,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,143,2018-04-13 02:23:52,OPEN,31,30,1,1,133
8,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,154,2018-04-13 02:34:21,OPEN,31,30,1,1,143
9,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,164,2018-04-13 02:44:31,OPEN,31,30,1,1,154
10,Drizzle,93.0,280.15,7000.0,3.6,4,13,Friday,2,174,2018-04-13 02:54:40,OPEN,31,30,1,1,164
11,Drizzle,93.0,280.15,6000.0,3.1,4,13,Friday,3,184,2018-04-13 03:04:49,OPEN,31,30,1,1,174
12,Drizzle,93.0,280.15,6000.0,3.1,4,13,Friday,3,194,2018-04-13 03:14:58,OPEN,31,30,1,1,184
13,Drizzle,93.0,280.15,6000.0,3.1,4,13,Friday,3,205,2018-04-13 03:25:07,OPEN,31,30,1,1,194
14,Drizzle,100.0,279.72,6000.0,3.1,4,13,Friday,3,215,2018-04-13 03:35:17,OPEN,31,30,1,1,205
15,Drizzle,100.0,279.72,6000.0,3.1,4,13,Friday,3,225,2018-04-13 03:45:26,OPEN,31,30,1,1,215
16,Drizzle,100.0,279.72,6000.0,3.1,4,13,Friday,3,235,2018-04-13 03:55:35,OPEN,31,30,1,1,225
17,Drizzle,100.0,279.66,6000.0,3.1,4,13,Friday,4,245,2018-04-13 04:05:44,OPEN,31,30,1,1,235
18,Drizzle,100.0,279.66,6000.0,3.1,4,13,Friday,4,255,2018-04-13 04:15:53,OPEN,31,30,1,1,245
19,Drizzle,100.0,279.66,6000.0,3.1,4,13,Friday,4,266,2018-04-13 04:26:02,OPEN,31,30,1,1,255
20,Drizzle,100.0,279.77,7000.0,2.6,4,13,Friday,5,300,2018-04-13 05:00:44,OPEN,31,30,1,1,266
21,Drizzle,100.0,279.77,7000.0,2.6,4,13,Friday,5,310,2018-04-13 05:10:52,OPEN,31,30,1,1,300
22,Drizzle,100.0,279.77,7000.0,2.6,4,13,Friday,5,312,2018-04-13 05:12:39,OPEN,31,29,2,1,310
23,Drizzle,100.0,279.77,7000.0,2.6,4,13,Friday,5,322,2018-04-13 05:22:48,OPEN,31,28,3,2,312
24,Drizzle,100.0,279.71,5000.0,3.1,4,13,Friday,5,332,2018-04-13 05:32:56,OPEN,31,28,3,3,322
25,Drizzle,100.0,279.71,5000.0,3.1,4,13,Friday,5,337,2018-04-13 05:37:18,OPEN,31,27,4,3,332
26,Drizzle,100.0,279.71,5000.0,3.1,4,13,Friday,5,347,2018-04-13 05:47:26,OPEN,31,27,4,4,337
27,Drizzle,100.0,279.71,5000.0,3.1,4,13,Friday,5,354,2018-04-13 05:54:13,OPEN,31,26,5,4,347
28,Drizzle,100.0,279.77,5000.0,3.6,4,13,Friday,6,364,2018-04-13 06:04:22,OPEN,31,26,5,5,354
29,Drizzle,100.0,279.77,5000.0,3.6,4,13,Friday,6,374,2018-04-13 06:14:30,OPEN,31,26,5,5,364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,Clouds,82.0,285.52,10000.0,8.2,4,18,Wednesday,8,492,2018-04-18 08:12:06,OPEN,31,23,8,7,489
602,Clouds,82.0,285.52,10000.0,8.2,4,18,Wednesday,8,498,2018-04-18 08:18:52,OPEN,31,22,9,8,492
603,Clouds,82.0,285.52,10000.0,8.2,4,18,Wednesday,8,507,2018-04-18 08:27:57,OPEN,31,21,10,9,498
604,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,513,2018-04-18 08:33:29,OPEN,31,22,9,10,507
605,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,517,2018-04-18 08:37:25,OPEN,31,22,9,9,513
606,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,518,2018-04-18 08:38:41,OPEN,31,21,10,9,517
607,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,521,2018-04-18 08:41:04,OPEN,31,20,11,10,518
608,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,522,2018-04-18 08:42:54,OPEN,31,22,9,11,521
609,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,526,2018-04-18 08:46:39,OPEN,31,21,10,9,522
610,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,530,2018-04-18 08:50:34,OPEN,31,22,9,10,526
611,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,531,2018-04-18 08:51:21,OPEN,31,20,11,9,530
612,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,536,2018-04-18 08:56:00,OPEN,31,19,12,11,531
613,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,539,2018-04-18 08:59:07,OPEN,31,20,11,12,536
614,Clouds,82.0,286.15,10000.0,8.2,4,18,Wednesday,8,539,2018-04-18 08:59:51,OPEN,31,20,11,11,539
615,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,544,2018-04-18 09:04:16,OPEN,31,19,12,11,539
616,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,548,2018-04-18 09:08:06,OPEN,31,17,14,12,544
617,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,551,2018-04-18 09:11:35,OPEN,31,18,13,14,548
618,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,564,2018-04-18 09:24:36,OPEN,31,16,15,13,551
619,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,565,2018-04-18 09:25:25,OPEN,31,15,16,15,564
620,Clouds,71.0,286.53,10000.0,8.2,4,18,Wednesday,9,567,2018-04-18 09:27:14,OPEN,31,14,17,16,565
621,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,573,2018-04-18 09:33:29,OPEN,31,13,18,17,567
622,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,583,2018-04-18 09:43:38,OPEN,31,13,18,18,573
623,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,584,2018-04-18 09:44:28,OPEN,31,11,20,18,583
624,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,592,2018-04-18 09:52:40,OPEN,31,10,21,20,584
625,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,596,2018-04-18 09:56:35,OPEN,31,9,22,21,592
626,Clouds,71.0,286.64,10000.0,6.7,4,18,Wednesday,9,598,2018-04-18 09:58:46,OPEN,31,8,23,22,596
627,Clouds,76.0,287.15,10000.0,5.7,4,18,Wednesday,10,603,2018-04-18 10:03:51,OPEN,31,7,24,23,598
628,Clouds,76.0,287.15,10000.0,5.7,4,18,Wednesday,10,608,2018-04-18 10:08:12,OPEN,31,6,25,24,603
629,Clouds,76.0,287.15,10000.0,5.7,4,18,Wednesday,10,615,2018-04-18 10:15:45,OPEN,31,5,26,25,608
630,Clouds,76.0,287.15,10000.0,5.7,4,18,Wednesday,10,625,2018-04-18 10:25:54,OPEN,31,5,26,26,615

In [144]:
categorical_columns = df2[['weather_main', 'weekday', 'status']]
for column in categorical_columns:
    df2[column] = df2[column].astype('category')
df2.select_dtypes(['category']).describe().T

             count unique     top freq
weather_main   631      6  Clouds  354
weekday        631      6  Friday  163
status         631      1    OPEN  631

In [145]:
# Select columns containing continuous data
continuous_columns = []
for column in df2.columns.values:
    if column not in categorical_columns:
        continuous_columns.append(column)
df2['humidity'] = df2['humidity'].astype('float')

continuous_columns.pop(continuous_columns.index('last_update_y'))
print(df2[continuous_columns].dtypes)

humidity                 float64
temp                     float64
visibility               float64
wind                     float64
month                      int64
day                        int64
hour                       int64
minute                     int64
bike_stands                int64
available_bike_stands      int64
available_bikes            int64
pre_available_bikes        int64
pre_minute                 int64
dtype: object

In [146]:
df2.isnull().sum()

weather_main             0
humidity                 0
temp                     0
visibility               0
wind                     0
month                    0
day                      0
weekday                  0
hour                     0
minute                   0
last_update_y            0
status                   0
bike_stands              0
available_bike_stands    0
available_bikes          0
pre_available_bikes      0
pre_minute               0
dtype: int64

In [147]:
# Check for irregular cardinality in categorical features. There could be same values spelled differently
for column in categorical_columns:
    print("Unique values for " + column + ":", pd.unique(df2[column].ravel()))

Unique values for weather_main: ['Drizzle' 'Mist' 'Clouds' 'Fog' 'Clear' 'Rain']
Unique values for weekday: ['Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday']
Unique values for status: ['OPEN']

In [148]:
#df2['pre_available_bikes'][0] = df2['available_bikes'][0]
#df2['pre_available_bikes'].iloc[1:] = df2['available_bikes'][:-1]
#pd.concat([df2['available_bikes'][0:1], df2['available_bikes'][:-1]])
pre_available_bikes = df2['available_bikes'][:-1].tolist()
pre_available_bikes.insert(0, df2['available_bikes'][0])
df2['pre_available_bikes'] = pre_available_bikes
continuous_columns.append('pre_available_bikes')

In [149]:
df_dummies_weather_main = pd.get_dummies(df2[['weather_main']])
print(df_dummies_weather_main.head())
df_dummies_weekday = pd.get_dummies(df2[['weekday']])
df_dummies_weekday.head()

   weather_main_Clear  weather_main_Clouds  weather_main_Drizzle  \
0                   0                    0                     1
1                   0                    0                     1
2                   0                    0                     1
3                   0                    0                     1
4                   0                    0                     1

   weather_main_Fog  weather_main_Mist  weather_main_Rain
0                 0                  0                  0
1                 0                  0                  0
2                 0                  0                  0
3                 0                  0                  0
4                 0                  0                  0

,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Tuesday,weekday_Wednesday
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0

In [150]:
describe_columns = [x for x in continuous_columns if x not in ['available_bike_stands', 'bike_stands', 'available_bikes', 'month', 'visibility']]

In [151]:
X = pd.concat([df2[describe_columns], df_dummies_weather_main, df_dummies_weekday], axis =1)
y = df2.available_bikes

In [152]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
%matplotlib inline
print(continuous_columns)

['humidity', 'temp', 'visibility', 'wind', 'month', 'day', 'hour', 'minute', 'bike_stands', 'available_bike_stands', 'available_bikes', 'pre_available_bikes', 'pre_minute', 'pre_available_bikes']

# Calculate correlation of all pairs of continuous features
corr = df2[continuous_columns].corr()

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(20, 15))

# Generate a custom colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, annot=True, mask=mask, cmap=cmap, vmax=1, vmin=-1,
            square=True, xticklabels=True, yticklabels=True,
            linewidths=.5, cbar_kws={"shrink": .5}, ax=ax)
plt.yticks(rotation = 0)
plt.xticks(rotation = 45)

In [153]:
#high temp  high wind , hour

In [154]:
#dtc = DecisionTreeClassifier(max_depth=10, random_state=1)
#dtc.fit(X, y)
#print(dtc)

In [155]:
#from sklearn.cross_validation import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=7)

In [156]:
#type(dtc)

In [157]:
# Compute the importance of each feature based on the trained decision tree classifier
#pd.DataFrame({'feature': X.columns, 'importance': dtc.feature_importances_})

import operator

import operator

def tree_print(clf, X):
    """
    Print the tree of a sklearn DecisionTreeClassifier

    Parameters
    ----------
    clf : DecisionTreeClassifier - A tree that has already been fit.
    X : The original training set
    """
    tlevel = _tree_rprint('', clf, X.columns, clf.classes_)
    print('<',end='')
    for i in range(3*tlevel - 2):
        print('-',end='')
    print('>')
    print('Tree Depth: ',tlevel)

def _tree_rprint(kword, clf, features, labels, node_index=0, tlevel_index=0):
    # Note: The DecisionTreeClassifier uses the Tree structure defined in:
    # 		github.com/scikit-learn/scikit-learn/blob/master/sklearn/tree/_tree.pyx
    #       it is an array based tree implementation:

    # indent the nodes according to their tree level
    for i in range(tlevel_index):
        print('  |',end='')

	#  TODO: the following should use the TREE_LEAF constant defined in _tree.pyx
	#        instead of -1, not quite sure how to get at it from the tree user level
    if clf.tree_.children_left[node_index] == -1:  # indicates leaf
        print(kword, end=' ' if kword else '')
        # get the majority label
        count_list = clf.tree_.value[node_index, 0]
        max_index, max_value = max(enumerate(count_list), key=operator.itemgetter(1))
        max_label = labels[max_index]
        print(max_label)
        return tlevel_index
    
    else:
        # compute and print node label
        feature = features[clf.tree_.feature[node_index]]
        threshold = clf.tree_.threshold[node_index]
        print(kword, end=' ' if kword else '')
        print('if {} =< {}: '.format(feature, threshold))
        # recurse down the children
        left_index = clf.tree_.children_left[node_index]
        right_index = clf.tree_.children_right[node_index]
        ltlevel_index = _tree_rprint('then', clf, features, labels, left_index, tlevel_index+1)
        rtlevel_index = _tree_rprint('else', clf, features, labels, right_index, tlevel_index+1)
        # return the maximum depth of either one of the children
        return max(ltlevel_index,rtlevel_index)
tree_print(dtc, X)

X_new = X.loc[300:310]

print(dtc.predict(X_new))
df2.loc[300:310].available_bikes

In [167]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Training data:\n", pd.concat([X_train, y_train], axis=1))
print("\nTest data:\n", pd.concat([X_test, y_test], axis=1))

Training data:
      humidity    temp  wind  day  hour  minute  pre_available_bikes  \
20      100.0  279.77   2.6   13     5     300                    1
156     100.0  281.16   3.1   13    23    1382                   18
359      87.0  282.15  10.3   15     7     451                   24
161     100.0  281.28   1.5   13    23    1427                   11
109      93.0  282.27   3.1   13    17    1049                   14
231      81.0  284.15   7.2   14    12     731                   31
404      93.0  283.16   9.8   15    14     851                   30
557      87.0  284.66   4.6   18     3     195                    0
371      93.0  282.66  10.3   15     9     558                   31
61      100.0  279.66   3.1   13     9     589                   27
447      93.0  283.16   6.7   15    20    1203                    4
344     100.0  281.72   6.7   15     4     287                   19
92       87.0  281.66   1.0   13    15     902                   24
443      93.0  283.16   7.7   15    19    1168                    6
307      93.0  282.16   4.6   14    22    1346                   29
197      93.0  279.67   0.5   14     6     389                   13
334      93.0  281.72   6.7   15     2     155                   19
529      71.0  284.58   5.7   17    22    1375                    0
5        93.0  280.15   3.6   13     2     123                    1
372      93.0  282.66  10.3   15     9     568                   31
356      87.0  282.15   9.3   15     7     424                   23
397      93.0  282.66  10.8   15    13     792                   28
570      93.0  284.17   3.1   18     5     320                    0
182      75.0  281.15   3.6   14     3     226                   10
588      93.0  284.72   3.1   18     6     418                   11
153     100.0  280.71   3.6   13    22    1359                   20
250      81.0  285.31   7.2   14    14     872                   30
360      87.0  282.15  10.3   15     7     461                   25
78       87.0  281.66   1.5   13    12     765                   31
423      93.0  284.30  10.3   15    16    1001                    7
..        ...     ...   ...  ...   ...     ...                  ...
35      100.0  279.15   3.1   13     7     420                   12
489      87.0  282.15   6.7   16     2     153                    0
179      75.0  281.15   2.6   14     3     196                   10
198      93.0  280.01   2.1   14     7     431                   13
81       87.0  281.66   1.5   13    13     789                   31
488      81.0  282.64   6.7   16     2     144                    0
288      87.0  283.38   6.2   14    20    1209                   25
556      87.0  284.66   4.6   18     3     185                    0
433     100.0  284.46   7.2   15    17    1079                    8
74       93.0  280.66   1.5   13    12     728                   31
628      76.0  287.15   5.7   18    10     608                   24
627      76.0  287.15   5.7   18    10     603                   23
286      76.0  284.77   5.7   14    19    1168                   19
76       87.0  281.66   1.5   13    12     752                   31
526      71.0  284.64   6.2   17    22    1350                    2
23      100.0  279.77   2.6   13     5     322                    2
166      87.0  281.15   2.1   14     1      74                   10
515      71.0  285.15   8.7   17    20    1253                    0
147     100.0  280.72   2.6   13    21    1318                   19
455      93.0  282.66   3.6   15    21    1272                    3
435      93.0  284.17   7.7   15    18    1100                    9
3        93.0  280.15   3.1   13     1     103                    1
168      93.0  281.29   2.6   14     1      95                   10
178      75.0  281.15   2.6   14     3     185                   10
140      93.0  280.72   4.6   13    20    1256                   16
220      81.0  284.15   5.1   14    10     629                   31
385      93.0  282.73  10.3   15    11     697                   31
602      82.0  285.52   8.2   18     8     498                    8
512      71.0  285.15   8.7   17    20    1237                    1
327     100.0  282.29   5.1   15     1      93                   19

     pre_minute  pre_available_bikes  weather_main_Clear       ...         \
20          266                    1                   0       ...
156        1372                   18                   0       ...
359         442                   24                   0       ...
161        1420                   11                   0       ...
109        1045                   14                   0       ...
231         727                   31                   0       ...
404         849                   30                   0       ...
557         185                    0                   0       ...
371         548                   31                   0       ...
61          585                   27                   0       ...
447        1191                    4                   0       ...
344         277                   19                   0       ...
92          896                   24                   0       ...
443        1163                    6                   0       ...
307        1343                   29                   0       ...
197         379                   13                   1       ...
334         153                   19                   0       ...
529        1365                    0                   0       ...
5           113                    1                   0       ...
372         558                   31                   0       ...
356         414                   23                   0       ...
397         777                   28                   0       ...
570         310                    0                   0       ...
182         216                   10                   1       ...
588         417                   11                   0       ...
153        1352                   20                   0       ...
250         862                   30                   0       ...
360         451                   25                   0       ...
78          755                   31                   0       ...
423         996                    7                   0       ...
..          ...                  ...                 ...       ...
35          416                   12                   0       ...
489         144                    0                   0       ...
179         185                   10                   1       ...
198         389                   13                   0       ...
81          784                   31                   0       ...
488         132                    0                   0       ...
288        1204                   25                   0       ...
556         175                    0                   0       ...
433        1076                    8                   0       ...
74          720                   31                   0       ...
628         603                   24                   0       ...
627         598                   23                   0       ...
286        1157                   19                   0       ...
76          738                   31                   0       ...
526        1343                    2                   0       ...
23          312                    2                   0       ...
166          64                   10                   0       ...
515        1243                    0                   0       ...
147        1306                   19                   0       ...
455        1266                    3                   0       ...
435        1089                    9                   0       ...
3            93                    1                   0       ...
168          85                   10                   1       ...
178         175                   10                   1       ...
140        1246                   16                   0       ...
220         619                   31                   0       ...
385         687                   31                   0       ...
602         492                    8                   0       ...
512        1233                    1                   0       ...
327          83                   19                   0       ...

     weather_main_Fog  weather_main_Mist  weather_main_Rain  weekday_Friday  \
20                  0                  0                  0               1
156                 0                  0                  0               1
359                 0                  0                  1               0
161                 0                  0                  0               1
109                 0                  0                  0               1
231                 0                  0                  1               0
404                 0                  0                  1               0
557                 1                  0                  0               0
371                 0                  0                  0               0
61                  0                  0                  0               1
447                 0                  0                  0               0
344                 0                  1                  0               0
92                  0                  0                  0               1
443                 0                  0                  0               0
307                 0                  0                  0               0
197                 0                  0                  0               0
334                 0                  0                  0               0
529                 0                  0                  0               0
5                   0                  0                  0               1
372                 0                  0                  0               0
356                 0                  0                  1               0
397                 0                  0                  0               0
570                 0                  0                  0               0
182                 0                  0                  0               0
588                 0                  0                  0               0
153                 0                  0                  0               1
250                 0                  0                  0               0
360                 0                  0                  1               0
78                  0                  0                  0               1
423                 0                  0                  1               0
..                ...                ...                ...             ...
35                  0                  0                  0               1
489                 0                  0                  1               0
179                 0                  0                  0               0
198                 0                  0                  0               0
81                  0                  0                  0               1
488                 0                  0                  1               0
288                 0                  0                  0               0
556                 1                  0                  0               0
433                 0                  0                  0               0
74                  0                  0                  0               1
628                 0                  0                  0               0
627                 0                  0                  0               0
286                 0                  0                  0               0
76                  0                  0                  0               1
526                 0                  0                  0               0
23                  0                  0                  0               1
166                 0                  0                  0               0
515                 0                  0                  0               0
147                 0                  0                  0               1
455                 0                  0                  1               0
435                 0                  0                  0               0
3                   0                  0                  0               1
168                 0                  0                  0               0
178                 0                  0                  0               0
140                 1                  0                  0               1
220                 0                  0                  1               0
385                 0                  0                  0               0
602                 0                  0                  0               0
512                 0                  0                  0               0
327                 0                  0                  0               0

     weekday_Monday  weekday_Saturday  weekday_Sunday  weekday_Tuesday  \
20                0                 0               0                0
156               0                 0               0                0
359               0                 0               1                0
161               0                 0               0                0
109               0                 0               0                0
231               0                 1               0                0
404               0                 0               1                0
557               0                 0               0                0
371               0                 0               1                0
61                0                 0               0                0
447               0                 0               1                0
344               0                 0               1                0
92                0                 0               0                0
443               0                 0               1                0
307               0                 1               0                0
197               0                 1               0                0
334               0                 0               1                0
529               0                 0               0                1
5                 0                 0               0                0
372               0                 0               1                0
356               0                 0               1                0
397               0                 0               1                0
570               0                 0               0                0
182               0                 1               0                0
588               0                 0               0                0
153               0                 0               0                0
250               0                 1               0                0
360               0                 0               1                0
78                0                 0               0                0
423               0                 0               1                0
..              ...               ...             ...              ...
35                0                 0               0                0
489               1                 0               0                0
179               0                 1               0                0
198               0                 1               0                0
81                0                 0               0                0
488               1                 0               0                0
288               0                 1               0                0
556               0                 0               0                0
433               0                 0               1                0
74                0                 0               0                0
628               0                 0               0                0
627               0                 0               0                0
286               0                 1               0                0
76                0                 0               0                0
526               0                 0               0                1
23                0                 0               0                0
166               0                 1               0                0
515               0                 0               0                1
147               0                 0               0                0
455               0                 0               1                0
435               0                 0               1                0
3                 0                 0               0                0
168               0                 1               0                0
178               0                 1               0                0
140               0                 0               0                0
220               0                 1               0                0
385               0                 0               1                0
602               0                 0               0                0
512               0                 0               0                1
327               0                 0               1                0

     weekday_Wednesday  available_bikes
20                   0                1
156                  0               17
359                  0               25
161                  0               11
109                  0               13
231                  0               31
404                  0               31
557                  1                0
371                  0               31
61                   0               28
447                  0                4
344                  0               19
92                   0               11
443                  0                5
307                  0               28
197                  0               13
334                  0               19
529                  0                0
5                    0                1
372                  0               31
356                  0               23
397                  0               29
570                  1                0
182                  0               10
588                  1               12
153                  0               21
250                  0               29
360                  0               25
78                   0               31
423                  0                8
..                 ...              ...
35                   0               14
489                  0                0
179                  0               10
198                  0               20
81                   0               30
488                  0                0
288                  0               24
556                  1                0
433                  0                9
74                   0               31
628                  1               25
627                  1               24
286                  0               20
76                   0               31
526                  0                2
23                   0                3
166                  0               10
515                  0                0
147                  0               18
455                  0                4
435                  0                9
3                    0                1
168                  0               10
178                  0               10
140                  0               14
220                  0               31
385                  0               31
602                  1                9
512                  0                2

# Refit the model on the training set only
dtc.fit(X_train, y_train)

# Predict on the hold-out test set
predictions_test = dtc.predict(X_test)
df_true_vs_predicted_test = pd.DataFrame({'ActualClass': y_test, 'PredictedClass': predictions_test})

df_true_vs_predicted_test

print("Accuracy: ", metrics.accuracy_score(y_test, predictions_test))
print("Confusion matrix: \n", metrics.confusion_matrix(y_test, predictions_test))
print("Classification report:\n ", metrics.classification_report(y_test, predictions_test))

In [168]:
# Train RF with 100 trees
rfc = RandomForestClassifier(n_estimators=100, max_features='auto', oob_score=True, random_state=1)
rfc.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [169]:
pd.DataFrame({'feature': X.columns, 'importance':rfc.feature_importances_})

                 feature  importance
0               humidity    0.028535
1                   temp    0.066401
2                   wind    0.055632
3                    day    0.032066
4                   hour    0.057316
5                 minute    0.159806
6    pre_available_bikes    0.178635
7             pre_minute    0.168953
8    pre_available_bikes    0.165422
9     weather_main_Clear    0.007966
10   weather_main_Clouds    0.009401
11  weather_main_Drizzle    0.009911
12      weather_main_Fog    0.001266
13     weather_main_Mist    0.002067
14     weather_main_Rain    0.006958
15        weekday_Friday    0.012555
16        weekday_Monday    0.003010
17      weekday_Saturday    0.013231
18        weekday_Sunday    0.012659
19       weekday_Tuesday    0.002943
20     weekday_Wednesday    0.005266

In [170]:
rfc.predict_proba(X)
print(X.loc[1])

humidity                 93.00
temp                    280.15
wind                      4.10
day                      13.00
hour                      1.00
minute                   82.00
pre_available_bikes       1.00
pre_minute               72.00
pre_available_bikes       1.00
weather_main_Clear        0.00
weather_main_Clouds       0.00
weather_main_Drizzle      1.00
weather_main_Fog          0.00
weather_main_Mist         0.00
weather_main_Rain         0.00
weekday_Friday            1.00
weekday_Monday            0.00
weekday_Saturday          0.00
weekday_Sunday            0.00
weekday_Tuesday           0.00
weekday_Wednesday         0.00
Name: 1, dtype: float64

In [171]:
rfc_predictions = rfc.predict(X)
df_true_vs_rfc_predicted = pd.DataFrame({'ActualClass': y, 'PredictedClass': rfc_predictions})
df_true_vs_rfc_predicted

     ActualClass  PredictedClass
0              1               1
1              1               1
2              1               1
3              1               1
4              1               1
5              1               1
6              1               1
7              1               1
8              1               1
9              1               1
10             1               1
11             1               1
12             1               1
13             1               1
14             1               1
15             1               1
16             1               1
17             1               1
18             1               1
19             1               1
20             1               1
21             1               1
22             2               2
23             3               3
24             3               3
25             4               4
26             4               4
27             5               5
28             5               5
29             5               5
..           ...             ...
601            8               8
602            9               9
603           10              10
604            9               9
605            9               9
606           10              10
607           11              11
608            9               9
609           10              10
610            9               9
611           11              11
612           12              12
613           11              11
614           11              11
615           12              12
616           14              14
617           13              13
618           15              15
619           16              16
620           17              17
621           18              18
622           18              18
623           20              20
624           21              21
625           22              22
626           23              23
627           24              24
628           25              25
629           26              26
630           26              26

[631 rows x 2 columns]

In [172]:
print("Accuracy: ", metrics.accuracy_score(y, rfc_predictions))
print("Confusion matrix: \n", metrics.confusion_matrix(y, rfc_predictions))
print("Classification report:\n ", metrics.classification_report(y, rfc_predictions))

Accuracy:  1.0
Confusion matrix:
 [[76  0  0 ...,  0  0  0]
 [ 0 29  0 ...,  0  0  0]
 [ 0  0 19 ...,  0  0  0]
 ...,
 [ 0  0  0 ..., 18  0  0]
 [ 0  0  0 ...,  0 31  0]
 [ 0  0  0 ...,  0  0 75]]
Classification report:
               precision    recall  f1-score   support

          0       1.00      1.00      1.00        76
          1       1.00      1.00      1.00        29
          2       1.00      1.00      1.00        19
          3       1.00      1.00      1.00        14
          4       1.00      1.00      1.00        11
          5       1.00      1.00      1.00        12
          6       1.00      1.00      1.00        14
          7       1.00      1.00      1.00        13
          8       1.00      1.00      1.00        18
          9       1.00      1.00      1.00        24
         10       1.00      1.00      1.00        41
         11       1.00      1.00      1.00        17
         12       1.00      1.00      1.00        17
         13       1.00      1.00      1.00        16
         14       1.00      1.00      1.00        12
         15       1.00      1.00      1.00         6
         16       1.00      1.00      1.00         6
         17       1.00      1.00      1.00         4
         18       1.00      1.00      1.00        10
         19       1.00      1.00      1.00        37
         20       1.00      1.00      1.00        16
         21       1.00      1.00      1.00        12
         22       1.00      1.00      1.00        16
         23       1.00      1.00      1.00        11
         24       1.00      1.00      1.00        14
         25       1.00      1.00      1.00         9
         26       1.00      1.00      1.00         6
         27       1.00      1.00      1.00        13
         28       1.00      1.00      1.00        14
         29       1.00      1.00      1.00        18
         30       1.00      1.00      1.00        31
         31       1.00      1.00      1.00        75

avg / total       1.00      1.00      1.00       631

In [173]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [174]:
rfc_predictions_test = rfc.predict(X_test)
df_true_vs_rfc_predicted_test = pd.DataFrame({'ActualClass': y_test, 'PredictedClass': rfc_predictions_test})
df_true_vs_rfc_predicted_test

     ActualClass  PredictedClass
600            7               8
403           30              29
413           12              11
133           13              14
277           23              23
369           31              31
342           19              19
108           14               9
169           10              10
79            31              31
461            3               4
93            12              11
448            2               4
393           30              31
181           10              10
30             5               5
449            2               2
187           10              10
1              1               1
59            30              29
604            9               9
467            2               3
358           24              23
53            25              24
599            6               5
142           16              18
417           11               8
428            7               6
33             8               7
101            9              10
..           ...             ...
415           12              12
333           19              19
118            7               6
260           31              30
323           19              19
387           31              31
464            3               3
112            4               6
532            0               0
491            0               0
618           15              14
495            0               0
34            12               7
309           27              27
538            0               0
537            0               0
422            7               8
389           30              31
572            1               0
506            6               7
316           20              20
517            0               0
484            0               0
511            1               0
548            0               0
350           21              21
28             5               5
578            6               5
293           24              21
237           31              31

[190 rows x 2 columns]

In [175]:
print("Accuracy: ", metrics.accuracy_score(y_test, rfc_predictions_test))
print("Confusion matrix: \n", metrics.confusion_matrix(y_test, rfc_predictions_test))
print("Classification report:\n ", metrics.classification_report(y_test, rfc_predictions_test))

Accuracy:  0.478947368421
Confusion matrix:
 [[21  1  0 ...,  0  0  0]
 [ 3  5  1 ...,  0  0  0]
 [ 0  0  3 ...,  0  0  0]
 ...,
 [ 0  0  0 ...,  4  0  2]
 [ 0  0  0 ...,  3  1  9]
 [ 0  0  0 ...,  1  5 14]]
Classification report:
               precision    recall  f1-score   support

          0       0.88      0.95      0.91        22
          1       0.83      0.56      0.67         9
          2       0.43      0.60      0.50         5
          3       0.75      0.43      0.55         7
          4       0.25      0.50      0.33         4
          5       0.40      0.40      0.40         5
          6       0.00      0.00      0.00         4
          7       0.20      0.20      0.20         5
          8       0.00      0.00      0.00         2
          9       0.43      0.43      0.43         7
         10       0.77      0.83      0.80        12
         11       0.00      0.00      0.00         4
         12       1.00      0.25      0.40         8
         13       0.67      0.40      0.50         5
         14       0.00      0.00      0.00         1
         15       0.00      0.00      0.00         4
         16       0.00      0.00      0.00         3
         17       0.00      0.00      0.00         2
         18       0.50      0.25      0.33         4
         19       0.55      0.67      0.60         9
         20       0.60      0.60      0.60         5
         21       0.33      0.50      0.40         2
         22       0.00      0.00      0.00         2
         23       0.50      0.50      0.50         2
         24       0.50      0.29      0.36         7
         25       0.00      0.00      0.00         2
         26       0.00      0.00      0.00         1
         27       0.43      0.75      0.55         4
         28       0.50      0.33      0.40         3
         29       0.44      0.67      0.53         6
         30       0.14      0.07      0.10        14
         31       0.56      0.70      0.62        20

avg / total       0.50      0.48      0.47       190

/Users/yaoxuanchen/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [828]:
# compute the out-of-bag classification accuracy
rfc.oob_score_

0.53521126760563376

In [190]:
for i in range(10,110,10):
    rfc = RandomForestClassifier(n_estimators=i, max_features='auto', oob_score=True, random_state=1)
    rfc.fit(X, y)
    rfc_predictions_test = rfc.predict(X_test)
    print("Accuracy: ", metrics.accuracy_score(y_test, rfc_predictions_test))

10
20
30
40
50
60
70
80
90
100

In [176]:
cur = conn.cursor()
cur.execute('select * from station_1 ORDER BY last_update DESC limit 0, 1')
detailData = cur.fetchone()

In [177]:
import json, requests
from datetime import datetime

r_w = requests.get('http://api.openweathermap.org/data/2.5/forecast?q=Dublin,IE&APPID=7b3e054e55cf81602b4298ca04a0fa18')

di = {x : 0 for x in sorted(X.columns)}

di['pre_available_bikes'] = detailData[-1]

di['day'] = datetime.utcfromtimestamp(r_w.json()['list'][0]['dt']).day
di['hour'] = datetime.utcfromtimestamp(r_w.json()['list'][0]['dt']).hour
di['humidity'] = r_w.json()['list'][0]['main']['humidity']
di['minute'] = datetime.utcfromtimestamp(r_w.json()['list'][0]['dt']).minute
di['temp'] = r_w.json()['list'][0]['main']['temp']
di['wind'] = r_w.json()['list'][0]['wind']['speed']

weather = r_w.json()['list'][0]['weather'][0]['main']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday',
            'Friday', 'Saturday', 'Sunday']
weekday = weekdays[datetime.utcfromtimestamp(r_w.json()['list'][0]['dt']).weekday()]
if 'weather_main_{}'.format(weather) in di:
    di['weather_main_{}'.format(weather)] = 1
if 'weekday_{}'.format(weekday) in di:
    di['weekday_{}'.format(weekday)] = 1

In [178]:
predi = pd.DataFrame([di])
predi

,day,hour,humidity,minute,pre_available_bikes,pre_minute,temp,weather_main_Clear,weather_main_Clouds,weather_main_Drizzle,weather_main_Fog,weather_main_Mist,weather_main_Rain,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Tuesday,weekday_Wednesday,wind
0,18,12,82,0,27,0,286.84,0,0,0,0,0,1,0,0,0,0,0,1,13.61

In [867]:
rfc_predictions = rfc.predict(predi)
print(rfc_predictions)

[0]