In [1]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

/Users/yaoxuanchen/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
rds_host='mybike.c0jxuz6r8olg.us-west-2.rds.amazonaws.com'
name='hibike'
pwd='zx123456'
db_name='bike'
port=3306

conn = mysql.connector.connect(host=rds_host,user=name, password=pwd, database=db_name)

df = pd.read_sql("select * from weather", con=conn)
df1 = pd.read_sql("select * from station_1", con=conn)
df.shape

(316, 6)

In [3]:
df['month'] = df['last_update'].dt.month
df['day'] = df['last_update'].dt.day
df['weekday'] = df['last_update'].dt.weekday_name
df['hour'] = df['last_update'].dt.hour
df['minute'] = df['last_update'].dt.minute

df1['month'] = df1['last_update'].dt.month
df1['day'] = df1['last_update'].dt.day
df1['weekday'] = df1['last_update'].dt.weekday_name
df1['hour'] = df1['last_update'].dt.hour
df1['minute'] = df1['last_update'].dt.minute

In [4]:
df1.minute = (df1.minute > 30) *30

In [5]:
df2 = pd.merge(df, df1, left_on=['minute', 'hour', 'weekday', 'month', 'day'], right_on=['minute', 'hour', 'weekday', 'month', 'day'])
df2

,last_update_x,weather_main,humidity,temp,visibility,wind,month,day,weekday,hour,minute,last_update_y,status,bike_stands,available_bike_stands,available_bikes
0,2018-04-13 01:00:00,Drizzle,93,280.15,6000.0,4.1,4,13,Friday,1,0,2018-04-13 01:12:47,OPEN,31,30,1
1,2018-04-13 01:00:00,Drizzle,93,280.15,6000.0,4.1,4,13,Friday,1,0,2018-04-13 01:22:56,OPEN,31,30,1
2,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:33:06,OPEN,31,30,1
3,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:43:15,OPEN,31,30,1
4,2018-04-13 01:30:00,Drizzle,93,280.15,7000.0,3.1,4,13,Friday,1,30,2018-04-13 01:53:24,OPEN,31,30,1
5,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:03:33,OPEN,31,30,1
6,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:13:43,OPEN,31,30,1
7,2018-04-13 02:00:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,0,2018-04-13 02:23:52,OPEN,31,30,1
8,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:34:21,OPEN,31,30,1
9,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:44:31,OPEN,31,30,1
10,2018-04-13 02:30:00,Drizzle,93,280.15,7000.0,3.6,4,13,Friday,2,30,2018-04-13 02:54:40,OPEN,31,30,1
11,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:04:49,OPEN,31,30,1
12,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:14:58,OPEN,31,30,1
13,2018-04-13 03:00:00,Drizzle,93,280.15,6000.0,3.1,4,13,Friday,3,0,2018-04-13 03:25:07,OPEN,31,30,1
14,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:35:17,OPEN,31,30,1
15,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:45:26,OPEN,31,30,1
16,2018-04-13 03:30:00,Drizzle,100,279.72,6000.0,3.1,4,13,Friday,3,30,2018-04-13 03:55:35,OPEN,31,30,1
17,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:05:44,OPEN,31,30,1
18,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:15:53,OPEN,31,30,1
19,2018-04-13 04:00:00,Drizzle,100,279.66,6000.0,3.1,4,13,Friday,4,0,2018-04-13 04:26:02,OPEN,31,30,1
20,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:00:44,OPEN,31,30,1
21,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:10:52,OPEN,31,30,1
22,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:12:39,OPEN,31,29,2
23,2018-04-13 05:00:00,Drizzle,100,279.77,7000.0,2.6,4,13,Friday,5,0,2018-04-13 05:22:48,OPEN,31,28,3
24,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:32:56,OPEN,31,28,3
25,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:37:18,OPEN,31,27,4
26,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:47:26,OPEN,31,27,4
27,2018-04-13 05:30:00,Drizzle,100,279.71,5000.0,3.1,4,13,Friday,5,30,2018-04-13 05:54:13,OPEN,31,26,5
28,2018-04-13 06:00:00,Drizzle,100,279.77,5000.0,3.6,4,13,Friday,6,0,2018-04-13 06:04:22,OPEN,31,26,5
29,2018-04-13 06:00:00,Drizzle,100,279.77,5000.0,3.6,4,13,Friday,6,0,2018-04-13 06:14:30,OPEN,31,26,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,2018-04-19 19:30:00,Clouds,63,288.59,10000.0,3.6,4,19,Thursday,19,30,2018-04-19 19:57:32,OPEN,31,29,2
1033,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:05:02,OPEN,31,31,0
1034,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:15:11,OPEN,31,31,0
1035,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:15:53,OPEN,31,30,1
1036,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:20:14,OPEN,31,31,0
1037,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:26:52,OPEN,31,30,1
1038,2018-04-19 20:00:00,Clouds,67,288.15,10000.0,4.6,4,19,Thursday,20,0,2018-04-19 20:30:13,OPEN,31,31,0
1039,2018-04-19 20:30:00,Clouds,71,287.71,10000.0,5.1,4,19,Thursday,20,30,2018-04-19 20:34:30,OPEN,31,29,2
1040,2018-04-19 20:30:00,Clouds,71,287.71,10000.0,5.1,4,19,Thursday,20,30,2018-04-19 20:34:55,OPEN,31,29,2
1041,2018-04-19 20:30:00,Clouds,71,287.71,10000.0,5.1,4,19,Thursday,20,30,2018-04-19 20:37:08,OPEN,31,31,0
1042,2018-04-19 20:30:00,Clouds,71,287.71,10000.0,5.1,4,19,Thursday,20,30,2018-04-19 20:47:17,OPEN,31,31,0
1043,2018-04-19 20:30:00,Clouds,71,287.71,10000.0,5.1,4,19,Thursday,20,30,2018-04-19 20:51:36,OPEN,31,31,0
1044,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:01:14,OPEN,31,30,1
1045,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:02:33,OPEN,31,31,0
1046,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:10:26,OPEN,31,30,1
1047,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:14:27,OPEN,31,30,1
1048,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:15:01,OPEN,31,31,0
1049,2018-04-19 21:00:00,Clouds,76,287.77,10000.0,5.7,4,19,Thursday,21,0,2018-04-19 21:23:29,OPEN,31,31,0
1050,2018-04-19 21:30:00,Clouds,82,285.59,10000.0,3.6,4,19,Thursday,21,30,2018-04-19 21:36:02,OPEN,31,31,0
1051,2018-04-19 21:30:00,Clouds,82,285.59,10000.0,3.6,4,19,Thursday,21,30,2018-04-19 21:46:10,OPEN,31,31,0
1052,2018-04-19 21:30:00,Clouds,82,285.59,10000.0,3.6,4,19,Thursday,21,30,2018-04-19 21:51:48,OPEN,31,30,1
1053,2018-04-19 21:30:00,Clouds,82,285.59,10000.0,3.6,4,19,Thursday,21,30,2018-04-19 21:52:53,OPEN,31,29,2
1054,2018-04-19 22:00:00,Clouds,87,284.64,10000.0,3.6,4,19,Thursday,22,0,2018-04-19 22:03:03,OPEN,31,29,2
1055,2018-04-19 22:00:00,Clouds,87,284.64,10000.0,3.6,4,19,Thursday,22,0,2018-04-19 22:07:50,OPEN,31,29,2
1056,2018-04-19 22:00:00,Clouds,87,284.64,10000.0,3.6,4,19,Thursday,22,0,2018-04-19 22:10:04,OPEN,31,31,0
1057,2018-04-19 22:00:00,Clouds,87,284.64,10000.0,3.6,4,19,Thursday,22,0,2018-04-19 22:20:13,OPEN,31,31,0
1058,2018-04-19 22:00:00,Clouds,87,284.64,10000.0,3.6,4,19,Thursday,22,0,2018-04-19 22:21:22,OPEN,31,31,0
1059,2018-04-19 22:30:00,Clouds,81,284.58,10000.0,2.6,4,19,Thursday,22,30,2018-04-19 22:31:30,OPEN,31,31,0
1060,2018-04-19 22:30:00,Clouds,81,284.58,10000.0,2.6,4,19,Thursday,22,30,2018-04-19 22:41:39,OPEN,31,31,0
1061,2018-04-19 22:30:00,Clouds,81,284.58,10000.0,2.6,4,19,Thursday,22,30,2018-04-19 22:51:47,OPEN,31,31,0

In [6]:
df2 = df2.drop(['last_update_x'] , axis=1)
categorical_columns = df2[['weather_main', 'weekday', 'status']]
for column in categorical_columns:
    df2[column] = df2[column].astype('category')
df2.select_dtypes(['category']).describe().T

             count unique        top  freq
weather_main  1062      6     Clouds   777
weekday       1062      7  Wednesday   280
status        1062      1       OPEN  1062

In [7]:
# Select columns containing continuous data
continuous_columns = []
for column in df2.columns.values:
    if column not in categorical_columns:
        continuous_columns.append(column)
df2['humidity'] = df2['humidity'].astype('float')

continuous_columns.pop(continuous_columns.index('last_update_y'))
print(df2[continuous_columns].dtypes)

humidity                 float64
temp                     float64
visibility               float64
wind                     float64
month                      int64
day                        int64
hour                       int64
minute                     int64
bike_stands                int64
available_bike_stands      int64
available_bikes            int64
dtype: object

In [8]:
df_dummies_weather_main = pd.get_dummies(df2[['weather_main']])
print(df_dummies_weather_main.head())
df_dummies_weekday = pd.get_dummies(df2[['weekday']])

   weather_main_Clear  weather_main_Clouds  weather_main_Drizzle  \
0                   0                    0                     1
1                   0                    0                     1
2                   0                    0                     1
3                   0                    0                     1
4                   0                    0                     1

   weather_main_Fog  weather_main_Mist  weather_main_Rain
0                 0                  0                  0
1                 0                  0                  0
2                 0                  0                  0
3                 0                  0                  0
4                 0                  0                  0

In [9]:
describe_columns = [x for x in continuous_columns if x not in ['available_bike_stands', 'bike_stands', 'available_bikes', 'visibility', 'day', 'month']]
describe_columns

['humidity', 'temp', 'wind', 'hour', 'minute']

In [10]:
X = pd.concat([df2[describe_columns], df_dummies_weather_main, df_dummies_weekday], axis =1)
y = df2.available_bikes

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Training data:\n", pd.concat([X_train, y_train], axis=1))
print("\nTest data:\n", pd.concat([X_test, y_test], axis=1))

Training data:
       humidity    temp  wind  hour  minute  weather_main_Clear  \
664       82.0  287.67   8.2    13       0                   0
333       93.0  281.72   6.7     2      30                   0
114       93.0  281.77   2.1    18       0                   0
945       63.0  289.15   8.2    13       0                   0
879       93.0  285.16   4.6     8       0                   0
584       93.0  284.72   3.1     6      30                   0
392       93.0  282.72  10.8    12      30                   0
772       59.0  290.15   8.7    19      30                   0
224       87.0  283.72   6.2    10      30                   0
967       55.0  290.66   6.2    15       0                   0
1059      81.0  284.58   2.6    22      30                   0
715       67.0  290.67   8.7    16       0                   0
636       82.0  286.66   6.7    10      30                   0
712       67.0  290.67   8.7    16       0                   0
481       81.0  283.15   7.2     1       0                   0
228       81.0  284.15   6.2    11      30                   0
51       100.0  279.15   3.6     8      30                   0
674       76.0  288.67   8.2    13      30                   0
456       93.0  282.66   3.6    21       0                   0
108       93.0  282.27   3.1    17       0                   0
230       81.0  284.15   7.2    12       0                   0
135       93.0  280.66   4.6    20       0                   0
15       100.0  279.72   3.1     3      30                   0
972       55.0  290.15   6.7    15      30                   0
403       93.0  283.16   9.8    14       0                   0
153      100.0  280.71   3.6    22      30                   0
82        87.0  281.66   1.5    13       0                   0
254       81.0  285.31   7.2    14      30                   0
12        93.0  280.15   3.1     3       0                   0
913       72.0  287.64   7.2    10      30                   0
...        ...     ...   ...   ...     ...                 ...
647       87.0  288.18   8.7    12       0                   0
851      100.0  282.86   2.1     5      30                   0
622       71.0  286.64   6.7     9      30                   0
370       93.0  282.66  10.3     9       0                   0
219       81.0  284.15   5.1    10       0                   0
827       76.0  285.57   6.2     1      30                   0
522       71.0  284.64   6.2    22       0                   0
725       76.0  289.69   8.7    16      30                   0
899       82.0  286.66   5.1     9       0                   0
80        87.0  281.66   1.5    13       0                   0
208       93.0  282.72   4.6     8      30                   0
852      100.0  282.86   2.1     5      30                   0
344      100.0  281.72   6.7     4      30                   0
156      100.0  281.16   3.1    23       0                   0
84        87.0  281.66   1.5    13       0                   0
423       93.0  284.30  10.3    16      30                   0
961       63.0  290.15   8.2    14       0                   0
1032      63.0  288.59   3.6    19      30                   0
544       81.0  284.15   7.2     1       0                   0
700       72.0  290.18   9.8    15       0                   0
14       100.0  279.72   3.1     3      30                   0
122       93.0  282.26   3.1    18      30                   0
239       76.0  285.66   7.2    13       0                   0
395       93.0  282.72  10.8    12      30                   0
755       72.0  289.67   8.7    18       0                   0
436       93.0  284.17   7.7    18       0                   0
855      100.0  282.86   2.1     5      30                   0
502       66.0  286.15  11.8    19      30                   0
346       93.0  281.71   7.2     5      30                   0
38       100.0  279.15   3.1     7       0                   0

      weather_main_Clouds  weather_main_Drizzle  weather_main_Fog  \
664                     1                     0                 0
333                     1                     0                 0
114                     0                     1                 0
945                     1                     0                 0
879                     1                     0                 0
584                     1                     0                 0
392                     0                     1                 0
772                     1                     0                 0
224                     0                     0                 0
967                     1                     0                 0
1059                    1                     0                 0
715                     1                     0                 0
636                     1                     0                 0
712                     1                     0                 0
481                     1                     0                 0
228                     0                     0                 0
51                      0                     1                 0
674                     1                     0                 0
456                     0                     0                 0
108                     0                     1                 0
230                     0                     0                 0
135                     0                     0                 0
15                      0                     1                 0
972                     1                     0                 0
403                     0                     0                 0
153                     1                     0                 0
82                      1                     0                 0
254                     1                     0                 0
12                      0                     1                 0
913                     1                     0                 0
...                   ...                   ...               ...
647                     1                     0                 0
851                     1                     0                 0
622                     1                     0                 0
370                     0                     1                 0
219                     0                     0                 0
827                     1                     0                 0
522                     1                     0                 0
725                     1                     0                 0
899                     1                     0                 0
80                      1                     0                 0
208                     1                     0                 0
852                     1                     0                 0
344                     0                     0                 0
156                     1                     0                 0
84                      1                     0                 0
423                     0                     0                 0
961                     1                     0                 0
1032                    1                     0                 0
544                     1                     0                 0
700                     1                     0                 0
14                      0                     1                 0
122                     0                     0                 0
239                     1                     0                 0
395                     0                     1                 0
755                     1                     0                 0
436                     1                     0                 0
855                     1                     0                 0
502                     1                     0                 0
346                     1                     0                 0
38                      0                     1                 0

      weather_main_Mist  weather_main_Rain  weekday_Friday  weekday_Monday  \
664                   0                  0               0               0
333                   0                  0               0               0
114                   0                  0               1               0
945                   0                  0               0               0
879                   0                  0               0               0
584                   0                  0               0               0
392                   0                  0               0               0
772                   0                  0               0               0
224                   0                  1               0               0
967                   0                  0               0               0
1059                  0                  0               0               0
715                   0                  0               0               0
636                   0                  0               0               0
712                   0                  0               0               0
481                   0                  0               0               1
228                   0                  1               0               0
51                    0                  0               1               0
674                   0                  0               0               0
456                   0                  1               0               0
108                   0                  0               1               0
230                   0                  1               0               0
135                   1                  0               1               0
15                    0                  0               1               0
972                   0                  0               0               0
403                   0                  1               0               0
153                   0                  0               1               0
82                    0                  0               1               0
254                   0                  0               0               0
12                    0                  0               1               0
913                   0                  0               0               0
...                 ...                ...             ...             ...
647                   0                  0               0               0
851                   0                  0               0               0
622                   0                  0               0               0
370                   0                  0               0               0
219                   0                  1               0               0
827                   0                  0               0               0
522                   0                  0               0               0
725                   0                  0               0               0
899                   0                  0               0               0
80                    0                  0               1               0
208                   0                  0               0               0
852                   0                  0               0               0
344                   1                  0               0               0
156                   0                  0               1               0
84                    0                  0               1               0
423                   0                  1               0               0
961                   0                  0               0               0
1032                  0                  0               0               0
544                   0                  0               0               0
700                   0                  0               0               0
14                    0                  0               1               0
122                   1                  0               1               0
239                   0                  0               0               0
395                   0                  0               0               0
755                   0                  0               0               0
436                   0                  0               0               0
855                   0                  0               0               0
502                   0                  0               0               0
346                   0                  0               0               0
38                    0                  0               1               0

      weekday_Saturday  weekday_Sunday  weekday_Thursday  weekday_Tuesday  \
664                  0               0                 0                0
333                  0               1                 0                0
114                  0               0                 0                0
945                  0               0                 1                0
879                  0               0                 1                0
584                  0               0                 0                0
392                  0               1                 0                0
772                  0               0                 0                0
224                  1               0                 0                0
967                  0               0                 1                0
1059                 0               0                 1                0
715                  0               0                 0                0
636                  0               0                 0                0
712                  0               0                 0                0
481                  0               0                 0                0
228                  1               0                 0                0
51                   0               0                 0                0
674                  0               0                 0                0
456                  0               1                 0                0
108                  0               0                 0                0
230                  1               0                 0                0
135                  0               0                 0                0
15                   0               0                 0                0
972                  0               0                 1                0
403                  0               1                 0                0
153                  0               0                 0                0
82                   0               0                 0                0
254                  1               0                 0                0
12                   0               0                 0                0
913                  0               0                 1                0
...                ...             ...               ...              ...
647                  0               0                 0                0
851                  0               0                 1                0
622                  0               0                 0                0
370                  0               1                 0                0
219                  1               0                 0                0
827                  0               0                 1                0
522                  0               0                 0                1
725                  0               0                 0                0
899                  0               0                 1                0
80                   0               0                 0                0
208                  1               0                 0                0
852                  0               0                 1                0
344                  0               1                 0                0
156                  0               0                 0                0
84                   0               0                 0                0
423                  0               1                 0                0
961                  0               0                 1                0
1032                 0               0                 1                0
544                  0               0                 0                0
700                  0               0                 0                0
14                   0               0                 0                0
122                  0               0                 0                0
239                  1               0                 0                0
395                  0               1                 0                0
755                  0               0                 0                0
436                  0               1                 0                0
855                  0               0                 1                0
502                  0               0                 0                1
346                  0               1                 0                0
38                   0               0                 0                0

      weekday_Wednesday  available_bikes
664                   1               23
333                   0               19
114                   0                9
945                   0               19
879                   0               21
584                   1                9
392                   0               30
772                   1                0
224                   0               27
967                   0               10
1059                  0                0
715                   1               18
636                   1               27
712                   1               15
481                   0                0
228                   0               31
51                    0               24
674                   1               22
456                   0                5
108                   0               14
230                   0               31
135                   0               13
15                    0                1
972                   0                9
403                   0               30
153                   0               21
82                    0               30
254                   0               31
12                    0                1
913                   0               31
...                 ...              ...
647                   1               30
851                   0                2
622                   1               18
370                   0               31
219                   0               31
827                   0                0
522                   0                0
725                   1               23
899                   0               26
80                    0               31
208                   0               27
852                   0                3
344                   0               19
156                   0               17
84                    0               31
423                   0                8
961                   0               14
1032                  0                2
544                   1                0
700                   1               17
14                    0                1
122                   0               12
239                   0               31
395                   0               30
755                   1                8
436                   0                9
855                   0                5
502                   0                7
346                   0               20
38                    0               14

[743 rows x 19 columns]

Test data:
       humidity    temp  wind  hour  minute  weather_main_Clear  \
994       52.0  291.15   4.6    17       0                   0

In [12]:
# Train RF with 100 trees
rfc = RandomForestClassifier(n_estimators=100, max_features='auto', oob_score=True, random_state=1)
rfc.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [13]:
pd.DataFrame({'feature': X.columns, 'importance':rfc.feature_importances_})

                 feature  importance
0               humidity    0.100845
1                   temp    0.199949
2                   wind    0.152824
3                   hour    0.285625
4                 minute    0.057570
5     weather_main_Clear    0.016790
6    weather_main_Clouds    0.019119
7   weather_main_Drizzle    0.016918
8       weather_main_Fog    0.002964
9      weather_main_Mist    0.003431
10     weather_main_Rain    0.010405
11        weekday_Friday    0.021547
12        weekday_Monday    0.010375
13      weekday_Saturday    0.026584
14        weekday_Sunday    0.031919
15      weekday_Thursday    0.014490
16       weekday_Tuesday    0.008823
17     weekday_Wednesday    0.019823

In [14]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=True, random_state=1, verbose=0, warm_start=False)

In [15]:
rfc_predictions_test = rfc.predict(X_test)
df_true_vs_rfc_predicted_test = pd.DataFrame({'ActualClass': y_test, 'PredictedClass': rfc_predictions_test})
df_true_vs_rfc_predicted_test

      ActualClass  PredictedClass
994            19              18
155            18              19
602             9              10
915            29              29
393            30              30
173            10              10
491             0               0
158            15              17
534             0               0
195            12              13
884            21              20
698            16              17
668            22              22
792            16              18
329            19              19
183            10              10
495             0               0
321            19              19
680            22              23
488             0               0
29              5               5
73             31              31
175            10              10
197            13              13
897            24              23
43             10              10
111             8              12
923            31              30
1012           14              11
782             0               8
...           ...             ...
911            31              31
716            19              16
41             10              10
818             0               0
757            12               6
120             6              10
388            31              30
416            11              12
811             3               3
766             0               3
815             0               0
817             0               0
68             31              30
843             0               0
466             3               3
582             7               9
894            25              23
999            18              18
1020           11               7
382            31              31
315            20              20
54             25              29
974            10               9
1008           13              15
113             6              12
247            31              31
736            19              19
546             0               0
760             9               6
765             4               3

[319 rows x 2 columns]

In [16]:
print("Accuracy: ", metrics.accuracy_score(y_test, rfc_predictions_test))

Accuracy:  0.435736677116

In [17]:
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

rds_host='mybike.c0jxuz6r8olg.us-west-2.rds.amazonaws.com'
name='hibike'
pwd='zx123456'
db_name='bike'
port=3306


import pandas as pd
import requests
from datetime import datetime

In [18]:
diCol = [x for x in X.columns]

diCol

['humidity',
 'temp',
 'wind',
 'hour',
 'minute',
 'weather_main_Clear',
 'weather_main_Clouds',
 'weather_main_Drizzle',
 'weather_main_Fog',
 'weather_main_Mist',
 'weather_main_Rain',
 'weekday_Friday',
 'weekday_Monday',
 'weekday_Saturday',
 'weekday_Sunday',
 'weekday_Thursday',
 'weekday_Tuesday',
 'weekday_Wednesday']

In [22]:
conn = mysql.connector.connect(host=rds_host,user=name, password=pwd, database=db_name)

cur = conn.cursor()
cur.execute("select * from Bike_Stations")
stationData = cur.fetchall()

import datetime
PredictTime = -40
stationNum = 100
cur.execute('select * from station_1 ORDER BY last_update DESC limit 0, 1')
detailData = cur.fetchone()
cur.execute('select * from weather ORDER BY last_update DESC limit 0, 1')
weatherData = cur.fetchone()
print(weatherData)
diCol_pr = {}
global diCol
global di
futTime = ((datetime.datetime.now() - weatherData[0]).total_seconds() / 60 ) + float(PredictTime)
print(futTime)
if (futTime > 180) :
    stationNum = int(stationNum)
    print('>180')
    try:
        for i in diCol[stationNum]:
            diCol_pr[i] = 0
        r_w = requests.get('http://api.openweathermap.org/data/2.5/forecast?q=Dublin,IE&APPID=7b3e054e55cf81602b4298ca04a0fa18')

        diCol_pr['hour'] = datetime.datetime.now().hour + PredictTime // 60
        diCol_pr['minute'] = datetime.datetime.now().minute + datetime.datetime.now().hour * 60 + PredictTime 
        diCol_pr['humidity'] = r_w.json()['list'][0]['main']['humidity']
        diCol_pr['temp'] = r_w.json()['list'][0]['main']['temp']
        diCol_pr['wind'] = r_w.json()['list'][0]['wind']['speed']
        weekday = datetime.datetime.now().weekday() + (datetime.datetime.now().hour + (datetime.datetime.now().minute + PredictTime) // 60) // 24
   
        if weekday >= 7:
            weekday = 0

        weather = r_w.json()['list'][0]['weather'][0]['main']
        print(weather)
        weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        weekday = weekdays[weekday]
        if 'weather_main_{}'.format(weatherData[1]) in diCol_pr.keys():
            diCol_pr['weather_main_{}'.format(weather)] = 1
            if 'weekday_{}'.format(weekday) in diCol_pr.keys():
                diCol_pr['weekday_{}'.format(weekday)] = 1

                predi = pd.DataFrame([diCol_pr])
                rfc_predictions = "available_bikes : {}".format(int(rfx.predict(predi)))
                print(rfc_predictions , diCol_pr, diCol[stationNum])
            else:
                rfc_predictions = "Something wrong, day information get error."
        else:
            rfc_predictions = "A new weather may appear, not enough data to make a prediction."
    except Exception as e:
        rfc_predictions = "We rebuild the prediction module, please try 10 minutes late."
else :
    print('<180')
    stationNum = int(stationNum)
    for i in diCol:
        diCol_pr[i] = 0
        
    diCol_pr['hour'] = datetime.datetime.now().hour + (datetime.datetime.now().minute + PredictTime) // 60
    diCol_pr['minute'] = (datetime.datetime.now().minute + PredictTime) % 60

    diCol_pr['humidity'] = float(weatherData[2])
    diCol_pr['temp'] = weatherData[3]
    diCol_pr['wind'] = weatherData[5]

    weekday = datetime.datetime.now().weekday() + (datetime.datetime.now().hour + (datetime.datetime.now().minute + PredictTime) // 60) // 24
    if weekday >= 7:
        weekday = 0
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    weekday = weekdays[weekday]
    if 'weather_main_{}'.format(weather) in diCol_pr.keys():
        diCol_pr['weather_main_{}'.format(weatherData[1])] = 1
        if 'weekday_{}'.format(weekday) in diCol_pr.keys():
            diCol_pr['weekday_{}'.format(weekday)] = 1                  
            predi = pd.DataFrame([diCol_pr])
            print(rfc.predict(predi))
            rfc_predictions = "available_bikes : {}".format(int(rfc.predict(predi)))
            print(rfc_predictions , diCol_pr)
        else:
            rfc_predictions = "Something wrong, day information get error."
    else:
        rfc_predictions = "A new weather may appear, not enough data to make a prediction."

(datetime.datetime(2018, 4, 19, 22, 30), 'Clouds', '81', 284.58, 10000.0, 2.6)
14.67368686666667
<180

NameError: name 'weather' is not defined